<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
	<style>
    body {
	height:100%;}
	.full-height {
    height: 100%;
  }

  </style>
  </head>
  <body>
   <!--  <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
        </ul>
    </nav> -->
	 <div class="full-height">
    {{ block "main" . -}}{{- end }}
	</div>
  </body>
  
</html>
