<div class="modal fade" id="exampleModal">
  <div class="modal-dialog" role="document" style="width:100%">
    <div class="modal-content">
	 <div class="modal-header">
        <div id="wrapper"><div><h2 style="padding-left:100px">{{ with .Params.modaltitle }}{{ . }}{{ end }}</h2></div>
		<div><h5 align="center" style="color:#4DB9C0;font-size:13px;padding-left:100px">{{ with .Params.modalcontent }}{{ . }}{{ end }}</h5></div></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <div class="modal-body" id="head">
      <img style="width:50%;height:50%"  src="{{ with .Params.enterprise }}{{ . }}{{ end }}" />
	  <img style="width:50%;height:50%"  src="{{ with .Params.kubelist }}{{ . }}{{ end }}" /></div>
	  <div><img style="width:95%;height:100%;padding-left:20px;padding-bottom:20px"  src="{{ with .Params.otherprojects }}{{ . }}{{ end }}"/></div>
     </div>
    </div>
  </div>