
{{ define "main" -}}
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<script>

$( document ).ready(function() {

    $.ajax({

        "url": "https://www.googleapis.com/calendar/v3/calendars/e1hcqcvs506cmvkfruo1ovq6fc@group.calendar.google.com/events",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "Authorization": "Bearer ya29.a0ARrdaM9-4Z8xW_P8J69pk4mM9MTeBknBSC01FhGEjooTeCIlARcLJ9x08J33oslpzCX4KVf9qCSwUAE-nebEP0_ZWWYHbaH928wvt5YtgYGUi3sd_c3E3owSNiDUPSfMXHKNkhBvVunJHIk-vfSyAmUM2JMd0w"},
        success: function(response){
		//alert(response.kind);
              
        },
        error: function(){
                
			gettoken()
			//console.log(token);
        }
});
});



function gettoken()
{
//alert('hi')

$.ajax({
        "url": "https://oauth2.googleapis.com/token",
  "method": "POST","async": "false",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded"
  },
  "data": {
    "client_id": "1006980365852-uri1sfi3vumq4i3asmtqqqm6culi36u6.apps.googleusercontent.com",
    "client_secret": "-cDBPSluPD6ffimuTv4ZunIZ",
    "refresh_token": "1//0gtWdZhDvH3txCgYIARAAGBASNwF-L9IrataWqvj7QylaRGC_-ceL2IMZlrw0nXpHXx5pVf4hkMnnT7g-c_9lX6IvinQyYb_rFKs",
    "grant_type": "refresh_token"
  },
  success: function(response){
		Eventloop( response );
            return response;
               
        },
        error: function(){
                
			
        }
       
});
}

function Eventloop( data ) {
var list="";
   	//alert(data.access_token);
	$.ajax({
        "url": "https://www.googleapis.com/calendar/v3/calendars/e1hcqcvs506cmvkfruo1ovq6fc@group.calendar.google.com/events",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "Authorization": "Bearer "+ data.access_token},
        success: function(response){
		//alert(response.kind);
		
		console.log(response.items);
		$.each(response.items,function(key, value) {
		var start=new Date(value.start.dateTime);
		var end =new Date(value.end.dateTime);
		var re=end.toLocaleDateString("en-us", {weekday: 'short', 
    day: 'numeric', 
    year: 'numeric', 
    month: 'long', 
    hour: 'numeric', 
    minute: 'numeric', 
    second: 'numeric', 
	});
		
          list=list+"<li><b>"+value.summary+"</b></br><b>"+start+"</b></br><b>"+end+"</b> <h6>"+
		  value.location+  "</h6></li>";
          
});
$('#cal').append(list);

        },
        error: function(){
		
                       }
}); 



}
</script>
<style>
	


</style>

<body>

<div class="container-fluid">

{{partial "head" .}}

</div>

<div class="banner-block">
<div class="container-fluid">
 <div class="row">
<div class="col-lg-6">

{{partial "calendar" .}}



</div>

<div class="col-lg-6">
<div class="banner-vdo">
<div class="frame"><iframe width="100" height="200" title="YouTube video player" src="https://www.youtube.com/embed/JwkJUoax8_Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

</div>

 </div>

</div>

</div>



{{partial "footer" .}}

{{partial "modalpopup" .}}


</body>
 
</html>
{{- end }}
